<ion-view title="Home" id="page1">
  <ion-content padding="true" style="background: url(img/gYCxIgnDTAWms5OyP9Hg_cd.gif) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="home-heading1" style="color:#000000;text-align:center;">All Contacts</h1>
    <div id="home-button-bar1" class="button-bar"></div>
    <form id="home-form2" class="list">
      <label class="item item-input" id="home-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div id="home-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#0000D7;">My Number: 0955555555</p>
    </div>
    <ion-list id="home-list2">
      <ion-item class="item-thumbnail-left assertive" id="home-list-item5" ui-sref="menu.page()">
        <img src="img/lsZUBQIvQtiQ4zE4G94O_index.jpg">
        <h2assertive>Dylan Wang</h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="home-list-item6" ui-sref="menu.page2()">
        <img src="img/XU28y4ITPWKuw7DOso0p_Shen-Yue.jpg">
        <h2assertive>Shen Yue</h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="home-list-item7" ui-sref="menu.page3()">
        <img src="img/Cbv3DeqBRHiN8SBBH1us_fpgUUrm3_400x400.jpg">
        <h2assertive>Darren Chen</h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>