<ion-view title="Send Message" id="page9">
  <ion-content padding="true" style="background: url(img/LNDgAdToSFewxIbOn9fN_bhlhyuolt.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="sendMessage-form12" class="list">
      <label class="item item-input" id="sendMessage-textarea5">
        <span class="input-label">Text</span><textarea placeholder=""></textarea></label>
    </form>
    <a ui-sref="menu.messageSent2()" id="sendMessage-button23" class="button button-royal button-block">Send</a>
  </ion-content>
</ion-view>